<IfModule mod_expires.c>
  ExpiresActive On
  ExpiresByType image/webp "access plus 1 day"
  ExpiresByType text/css "access plus 1 day"
  ExpiresByType application/javascript "access plus 1 day"
</IfModule>
